<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!-- Caso queira arrumar o alinhamento dos inputs utilziar a class das grids do bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="css/style.css">

	<title>Cadastro</title>
</head>
<body ng-app="cadastro", ng-controller="CadastroController">

	<form>

		<div class="alinhamento">

			<h1 id="cadastrese">Cadastre-se</h1>

			 <p>Nome Completo: <input type="text" class="larguraAlgunsInputs" ng-model="nomeCompleto" ></p>
			 <p>Usúario: <input type="text" class="larguraAlgunsInputs" ng-model="usuario"></p>
			 <p>Data de nascimento: <input type="date" class="larguraAlgunsInputs" >
			 Genêro Sexual: <input type="radio" name="gender" value="male" >Homem
			<input type="radio" name="gender" value="female" >Mulher
			<input type="radio" name="gender" value="other" >Outros	
			<p>	
			 	Email: <input type="email" class="larguraAlgunsInputs" ng-model="email" >
			 <p>Senha: <input type="text" class="larguraAlgunsInputs" ng-model="senha" >

			 
			 
			<input class="botao" type="button" value="Cadastrar-se" ng-click="verificar(nomeCompleto, usuario, email, senha)">
			

		</div>

	</form>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>

	<script>

		const app = angular.module('cadastro', []);

		app.controller('CadastroController', ($scope) => {

			$scope.verificar = (nomeCompleto, usuario, email, senha) =>{
				if((nomeCompleto == '') && (usuario == '') && (email == '') && (senha == '')){
					
					console.log('ok');
				}else{
					$scope.alerta = alert('Todos os campos devem ser preenchidos');
				} 
			}

        });

	</script>

</body>
</html>